In [149]:
import pandas as pd

In [150]:
temp_file = pd.read_csv('Milestone 1 Dataset\hr_temp_20170201-20200131_subset.csv')
energy_file = pd.read_csv('Milestone 1 Dataset\hrl_load_metered - 20170201-20200131.csv')

In [151]:
temp_file['ts'] = pd.to_datetime(temp_file.DATE).dt.floor('h')
temp = temp_file[['ts','HourlyDryBulbTemperature']]

energy_file['ts'] = pd.to_datetime(energy_file.datetime_beginning_ept).dt.floor('h')
energy = energy_file[['ts','mw']]

In [152]:
c = pd.merge(energy,temp,how="left")

In [153]:
c['hour'] = c.ts.dt.hour
c['dow'] = c.ts.dt.weekday
c['month'] = c.ts.dt.month
c['year'] = c.ts.dt.year

In [154]:
c.shape

(26280, 7)

In [155]:
c.set_index('ts',inplace=True)

In [156]:
#c.dtypes
#type(c['ts'])
#print(c)
#c.shape
c.head()

,mw,HourlyDryBulbTemperature,hour,dow,month,year
ts,,,,,,
2017-02-01 00:00:00,1419.881,37.0,0,2,2,2017
2017-02-01 01:00:00,1379.505,37.0,1,2,2,2017
2017-02-01 02:00:00,1366.106,36.0,2,2,2,2017
2017-02-01 03:00:00,1364.453,36.0,3,2,2,2017
2017-02-01 04:00:00,1391.265,36.0,4,2,2,2017

In [157]:
c.isnull().sum()
#c.shape

mw                           0
HourlyDryBulbTemperature    37
hour                         0
dow                          0
month                        0
year                         0
dtype: int64

In [158]:
c['HourlyDryBulbTemperature'] = c['HourlyDryBulbTemperature'].interpolate(method='time')

In [159]:
c.isnull().sum()

mw                          0
HourlyDryBulbTemperature    0
hour                        0
dow                         0
month                       0
year                        0
dtype: int64

In [160]:
train = c[c.year<2020]
test = c[(c.year==2020) & (c.month==1)]